/* define app colors */
:root {
  --main-color: #01132F;
  --secondary-color: #F8F8F8;
  --bg-dark-color: #0F1F38;
  --bg-medium-color: #384252;
  --gray-color: #848A93;
  --green-color: #0AEB72;
  --yellow-color: #F6C308;
  --purple-color: #7747EE;
  --border-radius: 16px;
}

/* reset styling */
body {
  margin: 0;
  font-family: "Geologica", sans-serif;
  height: 100%;
  overflow: hidden;
}

/* define typography classes */
h1 {
  margin: 0;
  line-height: 43.2px;
  font-size: 36px;
} 
.body1 {
  line-height: 16.8px;
  font-size: 14px;
}
.body2 {
  line-height: 17.5px;
  font-size: 14px;
}
.description1 {
  line-height: 12px;
  font-size: 10px;
}
.btn {
  font-size: 18px;
  line-height: 21.6px;
}
h1, h2, .body1, .body2, .btn {
  color: var(--main-color);
  text-align: center;
  font-weight: 400;
}
/* Frame 2 */

.frame2{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 24px;
}
.frame2-content{
/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}

/* define reusable classes */
.flex-column {
  display: flex;
  flex-direction: column;
}
.font-weight-500 {
  font-weight: 500;
}
.gap-8 {
  gap: 8px;
}
.gap-4 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 16px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.padding-16 {
  padding: 16px;
}
.padding-hor-8 {
  padding: initial 8px;
}
.padding-top-16 {
  margin-top: 16px;
}
.text-secondary {
  color: var(--secondary-color);
}
.text-gray {
  color: var(--gray-color);
}
.text-green {
  color: var(--green-color);
}
.text-purple {
  color: var(--purple-color);
}
#app-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  padding: 40px 120px;
  justify-content: space-between;

  [name=logo] {
    display: flex;
    gap: 16px;
    text-decoration: none;
  }
}

#navigator {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#navigator-container {
  background-color: transparent;
  box-shadow: 1px 1px 48px 0px #00031959;
  border-radius: var(--border-radius);
  width: 65vh;
  height: 80vh;
  display: block;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#navigator-container::-webkit-scrollbar {
  display: none;
}

#dashboard {
  flex: 1;
  .balance-panel {
    background-color: var(--secondary-color);
    padding: 16px;

    [name=balance] {
      color: var(--main-color);
    }
    [name=locked] {
      color: var(--main-color);
    }
    .content {
      padding: 0;
      border: none;
    }
  }
}

.balance-panel {
  border-radius: var(--border-radius);
  padding: 0 24px 24px;
  .content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-dark-color);
    padding-bottom: 16px;
  }
}

.button {
  border-radius: 32px;
  padding: 16px 32px;
  text-decoration: none;
}
.button[appereance=filled] {
  background-color: var(--yellow-color);
}
.button[appereance=outlined] {
  background-color: transparent;
  border: 1px solid var(--main-color);
}

.button[appereance=darkOutlined] {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

.button[appereance=darkOutlined] .btn{
  color: var(--secondary-color);
}

.data-panel{
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark-color);

  [name=header] {
      display: flex;
      justify-content: space-between;

      [name=view-all] {
        margin: 10px;
      }
  }

  [name=list] {
    display: flex;
    flex-direction: column;
  }

  [name=list-item] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg-medium-color);
    padding: 16px 0;

    [name=description] {
      display: flex;
      align-items: center;
    }
  }
}

.form-field {
  border-radius: var(--border-radius);
  background-color: var(--bg-dark-color);
  display: flex;
  flex-direction: column;

  input, select {
    background-color: transparent;
    border: none;
    height: 17px;
    line-height: 16.8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
    font-family: inherit;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}
